<nav class="navbar navbar-dark bg-primary">
  <span class="navbar-brand mb-0 h1">Zenklub</span>
</nav>

<div class="top">
  <div class="container">
    <h2 class="title">Encontre um especialista para te ajudar</h2>
    <h4>Saúde mental em primeiro lugar</h4>
  </div>
</div>

<div class="main main-raised">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Profissionais Disponiveis</h2>
    </div>
  </div>

  <div class="partner">
    <div class="row">
      <div class="col-7">
        <div class="header">
          <div class="img">
            <img class="rounded-circle" src="https://via.placeholder.com/170" alt="partner-portrait">
          </div>
          <div class="top-info">
            <h4 class="partner-name text-secondary mb-4">Maria Silva</h4>
            <div>
              <span class="text-primary partner-profession">Psychologist</span> <span> | Lisboa</span>
            </div>
            <div class="mb-4">
              <ngb-rating max="5" rate="4"></ngb-rating>
              <a class="text-dark reviews">(25) reviews</a>
            </div>
            <div>
              <span class="partner-name text-secondary ">R$ 120</span>
              <span class="text-secondary"> / 50 minutos</span>
            </div>
          </div>

        </div>
        <div class="description mt-3 text-secondary">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id tincidunt ex. Nam odio dolor, luctus cursus
          dolor id, bibendum congue arcu. Fusce consequat tincidunt auctor. Nullam tincidunt bibendum nisl, non
          hendrerit eros ultricies ac. Duis ac purus diam. Phasellus in tempus elit, at tempor nibh. Fusce eget dolor
          quis metus bibendum vehicula vitae quis dolor. Aliquam efficitur elit felis, sed molestie eros hendrerit id.

          Curabitur placerat mi quis sem blandit rhoncus. Vivamus eget mi nec tortor dapibus malesuada quis sed sem.
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed vestibulum, dui
          scelerisque faucibus tristique, ex enim congue sem, vestibulum suscipit nisi lacus quis arcu. Sed non
          imperdiet neque, quis bibendum tortor.
        </div>
      </div>
      <div class="col-5">
        <div class="card">
          <div class="card-header text-white text-center  bg-primary">Agende sua seção</div>
          <div class="card-body">
            <div class="dates">
              <button [disabled]="indiceDias===1" type="button" (click)="prevDias()" class="btn btn-outline-secondary">
                <i class="fa fa-angle-left"></i>
              </button>
              <ng-container *ngFor="let dia of dias">
                <div class="dia "><span class="mb2">{{dia.day}}</span><span>{{dia.weekday}}</span></div>


              </ng-container>
              <button [disabled]="(indiceDias+1)*4>allDias.length" (click)="nextDias()" type="button"
                class="btn btn-outline-secondary">
                <i class="fa fa-angle-right"></i>
              </button>
            </div>
            <div class="hour-grid mt-2">
              <div>
              </div>
              <div class="horario" *ngFor="let dia of dias">
                <ng-container *ngIf="dia.day===hoje">
                  <button type="button" *ngFor="let hora of horasHoje" class="btn btn-outline-primary">{{hora}}</button>
                </ng-container>
                <ng-container *ngIf="dia.day!==hoje">
                  <button type="button" *ngFor="let hora of horas" class="btn btn-outline-primary">{{hora}}</button>
                </ng-container>


              </div>
              <!-- <div class="horario">
                <button type="button" *ngFor="let hora of horas" class="btn btn-outline-primary">{{hora}}</button>
              </div>
              <div class="horario">
                <button type="button" *ngFor="let hora of horas" class="btn btn-outline-primary">{{hora}}</button>
              </div>
              <div class="horario">
                <button type="button" *ngFor="let hora of horas" class="btn btn-outline-primary">{{hora}}</button>
              </div> -->

              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
